### App
ENVIRONMENT=
APP_PORT=
APP_HOST=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

### Database
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_RUN_MIGRATIONS=

### Redis
REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=

### AWS
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ACL=
AWS_S3_ENDPOINT=

### Sendgrid
SENTRY_DSN=
SENTRY_ENV=
SENTRY_DEBUG=

### Auth
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_FORGOT_PASSWORD_SECRET=
JWT_FORGOT_PASSWORD_EXPIRES_IN=
JWT_EMAIL_VERIFICATION_SECRET=
JWT_EMAIL_VERIFICATION_EXPIRES_IN=
PASSWORD_EXPIRES_IN=
SALT_OR_ROUNDS=

### SMTP
SMTP_USER=
SMTP_PASS=